<!DOCTYPE html>
<html lang="no">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logg inn</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <div class="container">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            {{ form.email }}
            {{ form.password }}
            {{ form.submit }}
        </form>
        <a href="Registrer">Har du ikke en bruker? Lag en</a>
        <a href="glemt_passord">Glemt passord?</a>
    </div>
</body>
</html>
